/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


.card {
  padding: 2em;
}

.read-the-docs {
  color: #6e6d6d;
}
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}





h1 {
  color: #333;
  font-size: 3em;
  margin-bottom: 20px;
}
h2 {
color: #333;
}

p {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  background-color: #3498db; /* Replace with your color */
  border-radius: 5px;
}

.main-content {
  padding: 70px 0;
  text-align: center;
}

footer {
  
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  width: 50%;
  bottom: 0;
}
