/* BootstrapCard.css */
.bootstrap-card{
    max-width: 50em;
    min-width: 15em;
    display: flex;
    flex-direction: row;
    background-color: #696969;
    padding: 2rem;
    /* text-align: center; */
    border-radius: 5px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
    margin: 3em auto;
  }
  .card.dark {
    color: #fff;
  }
  .card-body {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    padding: 1rem;
    width:  100%;
  }
  .card-header{
    display: flex;
    flex-direction: column;
  }
  .card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  /* .flex-container {
    padding-top: 5rem;
  } */
  
  /* .card.bg-light-subtle .cta-section .btn {
    background-color: #898989;
    border-color: #898989;
  } */
  @media screen and (max-width: 475px) {
    .card {
      font-size: 0.9em;
    }
  }
  
  
  
  